%reset-link-style {
  text-decoration: none;
  color: inherit;
}

%section-title {
  @include font-params(700, 48px, 50px, $-color-white-, center);

  @media(max-width: 992px) {
    font-size: 42px;
  }
}