// **** general vars **** //
$-color-white-: #FFFFFF;
$-color-black-: #000000;
$-color-gray-: #848E97;
$-color-purple-accent-: #8D81AC;


// **** present section vars **** //
$-present-title-color-: #635C73;
$-present-description-color-: #323232;
$-present-item-border-color-: rgba(27, 31, 36, 0.15);
$-present-number-background-color-: rgba(175, 184, 193, 0.2);
$-present-number-border-color-: rgba(0, 0, 0, 0);

// **** features section vars **** //
$features-section-color-: #F4F4F4;
$-feature-title-color-: #8D81AC;
$-card-title-color-: #323232;
$-card-description-color-: #848E97;

// **** pricing section vars **** //
$-pricing-item-title-color-: rgba(255, 255, 255, 0.06);
$-pricing-item-color-: rgba(255, 255, 255, 0.11);

$-pricing-item-popular-title-color-: rgba(0, 0, 0, 0.06);
$-pricing-item-popular-color-: rgba(70, 48, 72, 0.84);

$-pricing-description-delimiter-color-: $-color-purple-accent-;
$-pricing-link-color-: rgba(255, 255, 255, 0.15);